<div class="main">
    <div class="header">
        <div class="books-text">Books</div>
        <div class="select">
        <select #myDropDownList (click)="rel()">
            <option selected>Sort by relevence</option>
            <option>Price: Low to high</option>
            <option>Price: High to low</option>
            <option>Newest Arrivals</option>
        </select>
        </div>
    </div>
    <!-- <div class="card-body">
        <div *ngFor="let item of pageOfItems">{{item.name}}</div>
    </div>
    <div class="card-footer pb-0 pt-3">
        <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
    </div> -->
    <div class="book-div">
    <div *ngFor="let item of data" fxLayoutALign="row">
    <mat-card>
        <mat-card-content fxLayoutAlign="center center" class="cover">
            <img src={{item.bookImage}}>
        </mat-card-content>
        <mat-card-content class="detail">
            <mat-card-title>
                {{item.bookName}}
            </mat-card-title>
            <mat-card-subtitle>
                by {{item.author}}
            </mat-card-subtitle>
            <span><b>Rs {{item.price}}</b>
            </span>
            <div class="button" fxLayoutAlign="row" fxLayoutAlign="space-between" *ngIf='!item.addedToCart'>
            <button mat-flat-button class="add-button" (click)="addToCart(item)">Add to bag</button>
    <button mat-flat-button class="wishlist">Wishlist</button>
</div>
<div class="button">
<button mat-flat-button *ngIf='item.addedToCart' class="added">ADDED TO CART</button>
</div>
        </mat-card-content>
    </mat-card>
</div>
</div>
<mat-paginator [length]=length
              [pageSize]=pageSize
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="getServerData($event)">
</mat-paginator>
</div>

