<div>
    <div fxLayoutAlign="space-between" fxLayoutAlign="row">
        <div class="books-text">Books</div>
        <select>
            <option>Sort by relevence</option>
            <option>Price: Low to high</option>
            <option>Price: High to low</option>
            <option>Newest Arrivals</option>
        </select>
    </div>
    <mat-card>
        <mat-card-content class="cover">
            <!-- <img src=""> -->
        </mat-card-content>
        <mat-card-content class="detail">
            <mat-card-title>
                Book title
            </mat-card-title>
            <mat-card-subtitle>
                by Author
            </mat-card-subtitle>
            <span><b>Rs 200</b>
            </span>
            <div class="button" fxLayoutAlign="row" fxLayoutAlign="space-between">
            <button mat-flat-button class="add-button">Add to bag</button>
    <button mat-flat-button class="wishlist">Wishlist</button>
</div>
        </mat-card-content>
    </mat-card>
</div>
