.main {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;

}

.books-text{
    font-size: 20px;
}

mat-card-title {
    font-size: 20px;
}

.book-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}

mat-card {
    width: 200px;
    margin-bottom: 30px;
}

.button {
    margin-top: 10px;
}

.add-button {
    color: white;
    border: 1px solid;
    background-color: #A03037;
    border-radius: 0px;
}

.wishlist {
    color: black;
    border: 1px solid;
    background-color: white;
    border-radius: 0px;
}

@media only screen and (max-width: 664px){

    .book-div{
        display: flex;
        justify-content: center;
    }
    
}