<div fxLayoutAlign="center">
    <form class="form" [formGroup]="registerForm" (ngSubmit)="signUp(registerForm.value)" fxLayoutAlign="row">
      <div class="form-div">
        <div class = "form-head" fxLayoutAlign="center">Bookstore</div>
        <div class="title-head" fxLayoutAlign="center">Create your Bookstore Account</div>
        <div fxLayout.xs="column" fxLayoutAlign="space-between">
          <mat-form-field appearance="outline" class="textbox">
            <mat-label>Full name</mat-label>
            <input matInput type="text" formControlName="firstName" id="fisrtName" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.firstName.errors }">
            <mat-error *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="email">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" id="email" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.email.errors }">
            <mat-error *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </mat-error>        </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="email">
            <mat-label>Phone number</mat-label>
            <input matInput type="text" formControlName="phoneNumber" id="phoneNumber" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.phoneNumber.errors }">
            <mat-error *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
            </mat-error>        </mat-form-field>
        </div>
        <div fxLayout.xs="column" fxLayoutAlign="space-between">
          <mat-form-field appearance="outline" class="textbox">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" id="password" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.password.errors }">
            <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </mat-error>      </mat-form-field>
          <mat-form-field appearance="outline" class="textbox">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" id="confirmPassword" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.confirmPassword.errors }">
            <mat-error *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </mat-error>       </mat-form-field>
        </div>
        <div>
        </div>
        <div class="button-div" fxLayoutAlign="space-between center">
          <a routerLink="../signIn" class="link-text">Sign in instead</a>
          <input class="next-button" type="submit" value="Next" [style.fontSize.px]="11">
        </div>
      </div>
    </form>
  </div>