.menu-icon {
    border: 0px;
    background-color: white;
    color: #5F6368;
  }
  
  
  .toolbar {
    padding-left: 100px;
    background-color: #A03037;
  }
  
  .title-text {
    color: white;
  }
  
  .search-div {
    margin-left: 50px;
    padding: 20px;
    background-color: #F1F3F4;
  }
  
  .search, .search-div {
    width: 700px;
    height: 45px;
    background-color: #F1F3F4;
    border: #F1F3F4;
    border-radius: 8px;
    outline: none;
  }

  .cart {
    padding-left: 150px;
    color: white;
  }
  
