<mat-toolbar class="header" >
    <mat-toolbar-row>
        <span routerLink="../dashboard/books">Bookstore</span>
        <span class="input">
          <div class="search">
            <input placeholder="Search">
          </div>
        </span>
        <button mat-icon-button>
          <mat-icon matBadge="{{wishlistAmount}}" routerLink="../dashboard/wishlist">favorite_border</mat-icon>
        </button>
        <button mat-icon-button class="bag" routerLink="../dashboard/cart">Cart
        <mat-icon matBadge="{{amount}}">shopping_cart</mat-icon>
        </button>
    </mat-toolbar-row>
  </mat-toolbar>
<router-outlet></router-outlet>
