.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-expansion-panel {
    width: 800px;
    margin-left: 100px;
}

.main{
    margin-top: 30px;
  }

mat-accordion {
    padding-top: 50px;
}

image {
    width: 50px;
}

.address {
  width: 410px;
}

button {
    border: 0px;
}
mat-radio-button {
    margin-right: 50px;
}

.continue-div {
    align-items: flex-end;
    color: white;
}

.continue {
    background-color: #3371B5;
    border-radius: 0px;
}

